<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacy List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="brand">PharmX</div>
        <div class="nav-links">
            <a href="/list">Pharmacies List</a>
            <a href="/map">Map</a> 

        
        </div>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Logo">
        </div>
    </div>

    <div class="container">
        <h2>Nearby Pharmacies (Sorted by Distance)</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Distance (km)</th>
                </tr>
            </thead>
            <tbody>
                {% for pharmacy in pharmacies %}
                <tr>
                    <td>{{ pharmacy.name }}</td>
                    <td>{{ "%.2f"|format(pharmacy.distance) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
